!<!DOCTYPE html>
<meta charset=utf-8>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>
      Udacity CS253 Homeworks
    </title>
  </head>

  <body>
    <h1 class="centre"> My Homeworks</h1>
    <hr>
    <img class="right" src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif"alt="Powered by Google App Engine" />
    <section>
      <br><br><br>

      <label>
        <nav><ol>
          <li><a href='/Rot13'>Rot 13</a></li><br>
          <li><a href='/blog/signup'>Sign Up</a></li><br>
          <li><a href='/blog/login'>Log In</a></li><br>
          <li><a href='/blog/logout'>Log Out</a></li><br>
          <li><a href='/blog'>Blog</a></li><br>
        </ol></nav>
      </label>

      <br><br><br>
      <hr>
      <a class="right" href='http://help.mccoyhome.co.uk'>Help</a><br>

    </section>

  </body>
</html>