<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<html>
  <head>
    <title>
      wiki
    </title>
  </head>

  <body>
    
    <form method="post">
      {% if edit %}
        {{name}}
        <a href='/logout?ident={{ident}}'>logout</a>
        {% if edit == 'active' %}
          <input type="submit" value="save">
          {% else %}
          <input type="submit" value="edit">
        {% endif %}
        {% else %}
        <a href='/login?ident={{ident}}'>login</a>
        <a href='/signup?ident={{ident}}'>signup</a>
      {% endif %}
    </form>
    <hr>
    <div id="content" class="content-body">{{content}}<hr></div>

  </body>
</html>